body {
    background-color: #ae85fa;
}

h1 {
    font-size: 50px;
    background-color: #663399;
    padding: 20px 200px;
    color: white;
}

.wrapper {
    max-width: 1024px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 50px auto;

}

.pokemon-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;

    margin-top: 25px;
}

.card {
    height: 300px;
    width: 250px;
    background: #c8aff8;
    background-image: url("../img/pokeball.png");
    background-size: 100%;
    background-position: 50px -30px;
    background-repeat: no-repeat;
    border-radius: 4px;
    text-align: center;
    border: outset;
    box-shadow: 4px 4px 5px;
    cursor: pointer;
}

.card .sprite {
    width: 100%;
    image-rendering: pixelated;
}

.card .name {
    text-transform: capitalize;
    font-size: 18px;
}

.card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px #663399);
    filter: drop-shadow(15px 10px 5px #663399);
}

.pagination {
    margin-top: 32px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.pagination button {
    padding: 12px 16px;
    background: #663399;
    border-radius: 4px;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.pagination button:hover {
    background: #4E2479;
    font-size: 26px;
}

.page-index {
    text-align: center;
    width: 28px;
    font-size: 20px;
}

@keyframes spinner {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }

}

.spinner {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 3px solid #663399;
    border-bottom-color: transparent;

    animation: spinner 1s linear infinite;
}

.hidden {
    display: none;
}

footer {
    margin-top: 40px;
    opacity: 0.7;
    font-size: 24px;
}

